:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Gray-500: hsl(0, 0%, 42%);
  --Gray-950: hsl(0, 0%, 7%);
  --font-Size-1: 16px;
  --font-Size-2: 24px;
}

@media screen and (max-width: 375px) {
  :root {
    --font-Size-1: 14px;
    --font-Size-2: 20px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Figtree";
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--Yellow);
  overflow: hidden;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Container {
  background-color: var(--White);
  width: 100%;
  max-width: 370px;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  padding: 24px;
  border-radius: 20px;
  box-shadow: 12px 12px var(--Gray-950);
}

.Container .card-Photo {
  border-radius: 10px;
}

.Container .card-Content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}

.Container .card-Content .card-Label {
  padding: 4px 8px;
  width: fit-content;
  background-color: var(--Yellow);
  display: inline-block;
  border-radius: 4px;
  font-weight: 800;
  font-size: var(--font-Size-1);
}

.Container .card-Content .card-Title {
  padding: 8px 0;
  font-size: var(--font-Size-2);
  transition: color 0.3s;
  cursor: pointer;
}

.Container .card-Content .card-Title:hover {
  color: var(--Yellow);
}

.Container .card-Content .card-Date,
.Container .card-Content .Content {
  color: var(--Gray-500);
  font-size: var(--font-Size-1);
}

.Container .card-Content .card-Profile {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0;
}

.Container .card-Content .card-Profile .profile-Image {
  width: 36px;
  height: 36px;
}

.Container .card-Content .card-Profile .user-Name {
  font-weight: 800;
}

.attribution {
  position: absolute;
  bottom: 0;
}
